<!DOCTYPE html>
<html>
  <head>
    <% if !(yield(:title)==="")  %>
      <title>RailsVue | <%= yield(:title) %></title>
    <% else %>
      <title>RailsVue</title>
    <% end %>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%# SEO meta%>
    <% if !(yield(:keywords)==="") %>
      <meta name="keywords" content= <%= yield(:keywords) %> >
    <% end %>
    <% if !(yield(:description)==="") %>
      <meta name="description" content= <%= yield(:description) %> >
    <% end %>
    <% if !(yield(:robots)==="") %>
      <meta name="robots" content= <%= yield(:robots) %> >
    <% end %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>